body{
 background-image: url("../imagini/dev1.jpg");
 }
 header{
   margin-top: 25px;
   font-family: 'Fjalla One', sans-serif;
  }
  .dws-menu *{
   margin: 0;
   padding: 0;
   z-index:1;
  }
  .dws-menu ul,
  .dws-menu ol{
   list-style: none;
  }
  .dws-menu > ul{
   display: flex;
   justify-content: center;
  }
  .dws-menu > ul li{
   position: relative;
   border-right: 2px solid #c7c8ca;
  }
  .dws-menu > ul li:first-child{
   border-left: 2px solid #b2b3b5;
  }
  .dws-menu > ul li:last-child{
   border-right: 2px solid #babbbd;
  }
  .dws-menu > ul li > a i.fa{
   position: absolute;
   top: 15px;
   left: 12px;
   font-size: 18px;
  }
  .dws-menu > ul li a{
   display: block;
   background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); 
   background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); 
   background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); 
  
   padding: 15px 30px 15px 40px;
   font-size: 15px;
   color: #454547;
   text-decoration: none;
   text-transform:uppercase;
   transition: all 0.3s ease;
  }
  .dws-menu li a:hover{
   background: rgb(224,225,229); 
   background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); 
   background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
   background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 );
  
   color: #ffffff;
   box-shadow: 1px 5px 10px -5px black;
   transition: all 0.3s ease;
  }
  .dws-menu li ul{
   position: absolute;
   min-width: 150px;
   display: none;
  }
  .dws-menu li > ul li{
   border: 1px solid #c7c8ca;
  }
  .dws-menu li > ul li a{
   padding: 10px;
   text-transform: none;
   background: #e4e4e5;
  }
  .dws-menu li > ul li ul{
   position: absolute;
   right: -150px;
   top: 0;
  }
  .dws-menu li:hover > ul{
   display: block;
  }

 

 

         /*1*/
  * {
   box-sizing: border-box;
}
.product-item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   padding: 2px;
   border: solid #746c6c;
   float: left;
   position: relative;
   margin-top: 4%;
   left: 55px;
   font-family: "Open Sans";
   transition: .3s ease-in;
}
.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   display: block;
   width: 100%;
}
.product-list {
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 20px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 18px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   font-size: 16px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}





* {
   box-sizing: border-box;
}
.product-item {
   width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   padding: 2px;
   /*border: solid #746c6c;*/
   float: left;
   position: relative;
   margin-top: 4%;
   left: 55px;
   font-family: "Open Sans";
   transition: .3s ease-in;
}
.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}
.product-item img {
   display: block;
   width: 100%;
}
.product-list {
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 20px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 18px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   font-size: 16px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}




 









 