body {
  background-image: url('imagini/dev1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

ul {
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  margin-top:15px; 
  background:black; 
  height: 50px; 
}

a {
  text-decoration: none; 
  background:black; 
  color:#fff; 
  padding:0px 30px; 
  font-family: arial; 
  line-height:50px; 
  display: block; 
  border-right: 1px solid #F36262; 


}

a:hover {
  background:#D43737;
}

li {
  float:left; 
}

   #text {
    position:absolute;
    top:43%;
    left:31%;
    color: white;
    font-size: 400%;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    font-family: 'Fjalla One', sans-serif;

    }
