.page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  margin-left: 190px;
  zoom: 82%
}


h1{
  color: white;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

p#description{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.line{
  height: 2px;
  background-color: white;
  width: 500px;
}

p{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button#black, button#white, button#red{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

button#black{
  background-color: black;
}

button#white{
  background-color: white;
  margin-left: 15px;
}

button#red{
  background-color: red;
  margin-left: 15px;
}

button#black:focus, button#white:focus, button#red:focus,
button#black:hover, button#white:hover, button#red:hover{
  border:2px solid rgb(253, 253, 253)
}

button#option1, button#option2, button#option3{
  height: 35px;
  width: 90px;
  border-radius: 10%;
  border: none;
  font-size: 16px;
  color: rgb(59, 55, 55);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button#option2, button#option3{
  margin-left: 15px;
}


button#option1:hover, button#option2:hover, button#option3:hover,
button#option1:focus, button#option2:focus, button#option3:focus{
  border: 2px solid rgb(179, 44, 44);
}

.line2{
  height: 2px;
  background-color: white;
  width: 500px;
  margin-top: 25px;  
}

.price{
  display: grid;
  grid-template-columns: 170px 200px;
 margin-top: 20px;
 font-family: Arial, Helvetica, sans-serif;

}

span{
  color: white;
  font-size: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

button#btn2{
  background-color: rgb(177, 37, 37);
  height: 50px;
  width: 120px;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button#btn2:hover{
  background-color: red;
}