.inputs{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 60px;
    justify-content: center;
    margin-top: 120px;
}

.left-column, .right-column{
    display: grid;
    grid-row-gap: 30px;
}

input, select{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input{
    border-color: #dbdbdb;
}

input:focus{
    outline: none;
    border-color:#19467a;
    box-shadow: 0px 0px 20px #3776be;
}

select:focus{
    outline:none;
}

.comment{
    display: grid;
    justify-content: center; 
}

textarea{
    outline: none;
    margin-top: 30px;
    width: 1060px;
    height: 150px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    display: grid;
    justify-content: center;
    margin-top: 17px;
}

button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    background-color: rgb(177, 37, 37);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: red;
  }


/* remove spin button on input type number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
}




            /******************** JS ********************/

 .input-error{
    outline: none;
    border-color:#e01d1d;
    box-shadow: 0px 0px 15px #e01d1d;
 }

 span#error{
     color: rgb(230, 2, 2);
     font-size: 18px;
     margin-top: 17px;
     display: flex;
     justify-content: center;
 }

 .remove-product{
     display: none;
 }