.inputs{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 60px;
    justify-content: center;
    margin-top: 120px;
}

.left-column, .right-column{
    display: grid;
    grid-row-gap: 30px;
}

input, select{
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.comment{
    display: grid;
    justify-content: center; 
}

textarea{
    margin-top: 30px;
    width: 1060px;
    height: 150px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    display: grid;
    justify-content: center;
    margin-top: 17px;
}

button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    background-color: rgb(177, 37, 37);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: red;
  }