body{
    background-image: url('../img/dev1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .menu{
    position: fixed;
    display: flex;
    top: 3%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
  }
  
  .menu li{
    width: 200px;
    list-style: none;
    background-color: rgb(94, 94, 95);
    position: relative;
  }
  
  .menu a {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  
  .menu a:hover {
    background: #808291;
  }
  
  .menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  .menu ul ul {
    display: none;
    top: 0;
    left: 100%;
  }