@media(max-width:1015px){
    #text{
        font-size: 85px;
    }
}

@media(max-width:865px){
    #text{
        font-size: 75px;
    }
}

@media(max-width:760px){
    #text{
        font-size: 65px;
    }

    #comanda-btn{
        font-size: 18px;
        height: 15px;
        line-height: 15px;
        margin-top: 6%;

    }
}

@media(max-width:662px){
    #text{
        font-size: 60px;
    }

    #comanda-btn{
        margin-top: 8%;
        font-size: 16px;
        height: 10px;
        line-height: 10px;
        padding: 12px 20px;
    }
}

@media(max-width:613px){
    #text{
        font-size: 50px;
    }
}

@media(max-width:515px){
    #text{
        font-size: 45px;
    }

    #comanda-btn{
        height: 8px;
        margin-top: 9%;
    }
}

@media(max-width:465px){
    #text{
        font-size: 35px;
    }

    #comanda-btn{
        font-size: 13px;
        height: 5px;
        line-height: 6px;
    }
}

@media(max-width:376px){
    #text{
        font-size: 35px;
        margin-top: 230px;
    }
}

@media(max-width:360px){
    #text{
        font-size: 30px;
    }

    #comanda-btn{
        padding: 12px 18px;
    }
}