
body{
    margin: o auto;
}


.container-news{
display: grid;
grid-template-columns: 1000px;
justify-content: center;
margin: 0 auto;
}


.container-news h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    text-align: center;
    padding: 30px;
}


.container-news img{
    margin-left: 200px;
}

.container-news p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: justify;

}

.container-news hr{
    width: 1000px;
    color: red;
    
    
}

.container-news a{
    text-decoration: none;
    line-height: 50px;
    color: rgb(146, 139, 139);
}

.container-news a:hover{
    color: black;
}


@media(max-width:1200px){
    .container-news{
        grid-template-columns: 800px;
    }

    .container-news hr{
        width: 800px;
    }

    .container-news img{
       margin-left: 100px;
    }

}


@media(max-width:1000px){
    .container-news{
        grid-template-columns: 700px;
    }

    .container-news img{
        margin-left: 20px;
    }

    .container-news hr{
        width: 700px;
    }

}


@media(max-width:795px){
    .container-news{
        grid-template-columns: 600px;

    }

    .container-news hr{
        width: 600px;
    }
    
}


@media(max-width:705px){
    .container-news{
        grid-template-columns: 550px;
    }

    .container-news img{
        width: 450px;
    }

    .container-news hr{
        width: 550px;
    }
}


@media(max-width:610px){
    .container-news{
        grid-template-columns: 400px;
    
    }

    .container-news img{
        width: 300px;
    }

    .container-news hr{
        width: 400px;
    }
}



@media(max-width:475px){
    .container-news{
        grid-template-columns: 350px;
    }

    .container-news hr{
        width: 350px;
    }
}


